.container {
    display: flex;
}

.botao {
    border-radius: 15px;
    margin-left: 10px;
    height: 150px;
    background-image: linear-gradient(150deg, #00ddeb, #5b42f3 50%, #af40ff);
    width: 100px;
    flex: 1;
    transition: .3s all ease;
    text-align: center;
    vertical-align: middle;
}

.botao:hover {
    flex: 2;
    background-color: rgb(207, 207, 207);
}

.botao{

    height: 8em;
    width: 6em;
    border-radius: 5px;
    background: #DFDFDF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: bottom;
}

.botao:hover{
    transform: scale(1.15);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 1


}

img {
    margin-top: 10px;
    width: 90px;
    height: 100px;
    object-fit: cover;
}