.tittle{
    font-size: 2rem;
    font-weight:bold;

}
body{
    font-family: 'Alata', sans-serif;
    
}

/*header*/
.header{
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: gray;
    height: 2.0em;
    justify-content: space-between;
    padding: 1em 2.5em;
}

/*end header*/

/*section_one*/

.section_one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;

}

.section_one img{
    border-radius: 50%;
    padding: 1em 2.5em;

}

.section_one article{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    line-height: 1.3em;
    padding: 5em; 

}



.container {
    display: flex;
}

.botao {
    border-radius: 15px;
    margin-left: 10px;
    height: 150px;
    background-image: linear-gradient(150deg, #00ddeb, #5b42f3 50%, #af40ff);
    width: 100px;
    flex: 1;
    transition: .3s all ease;
    text-align: center;
    vertical-align: middle;
}

.botao:hover {
    flex: 2;
    background-color: rgb(207, 207, 207);
}

.botao{

    height: 8em;
    width: 6em;
    border-radius: 5px;
    background: #DFDFDF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: bottom;
}

.botao:hover{
    transform: scale(1.15);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 1


}

img {
    margin-top: 10px;
    width: 90px;
    height: 100px;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.0em 2.5em;
    background-color: gray;
    flex-wrap: wrap;
    gap: 2em;
    height: 100%;
    
}

.media_links{
    display: flex;
    gap: 1.0em;
    height: 100%;

}

.contact{
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 5px;
    background: #DFDFDF;
}

.navegation_header a{
    text-decoration: none;
    color: black;

}
.contact a{
    text-decoration: none;
    color:black

}

div.media_links img{
    margin-top: 5px;
    width: 2em;
    height: 2em;
    object-fit: cover;
}

figure img{
    margin-top: 5px;
    width: 10em;
    height: 10em;
    object-fit: cover;

}

@media(max-width:450){



    .alinhar{
        align-items: flex start;

    }
    .navegation_header{
        display:none;
        position:absolute;
        top: 8%;
        right: 4%;


    }
    
    footer{
        flex-direction: column-reverse;
    }

    header{
        padding: 1em, 2em;
    }
    



}
